/* General styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    width: 100;
}

body {
    background-color: black;
}

#calculator-body-center{
    justify-items: center;
    text-align: center;
    margin-top: 3rem;
    background-color: rgba(43, 43, 43, 0.692);
    opacity: 0.5;
    width: 380px;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-right: 1.2rem;
    border-radius: 20px;
}
